<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>

<body>
  <div class="home-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin">Home</a>
        </li>
        <% if(!member) { %>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/signup">Signup</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>

    <div class="animation-frame">
      <div class="bg">  
  <svg width="780" height="346" viewBox="0 0 670 236">
    
 <path class="path" stroke="#4CADC1" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="300" stroke-dashoffset="300" fill="none" d="M839.39,303.66q-33.69,0-57.07,23.64-24.14,23.37-24.13,57.06t24.13,57.07q23.38,24.13,57.07,24.14,33.43,0,57.07-24.14,23.37-23.39,23.38-57.07T896.46,327.3Q872.82,303.66,839.39,303.66Z" transform="translate(-398.28 -255.65)"/>
      <path class="path" stroke="#4CADC1" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" fill="none" d="M512.12,293.61Q490.75,316,458.31,372.55c-.68,1.2-1.36,2.36-2,3.54-3.54,12,3.33,24.3,15,42.91l7.11,11.57c13.38,20.35,24.85,34.66,34.24,44.55q35.19,38,77.68,38v-48q-24.64,0-48-28.66-12.81-14.82-34.94-52.54,21.87-36.71,34.44-51.54,23.88-28.65,48.52-28.66v-48Q547.31,255.65,512.12,293.61Z" transform="translate(-398.28 -255.65)"/>
      <path class="path" stroke="#4CADC1" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" fill="none" d="M651.61,255.65l-26.4,40.22q9,5.79,9,20.11v197.1h48V314Q682.28,276.26,651.61,255.65Z" transform="translate(-398.28 -255.65)"/>
      <path class="path" stroke="#4CADC1" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" fill="none" d="M930.15,293.61q-37.73-38-90.76-38-53.29,0-91.26,38-37.46,37.71-37.46,90.75t37.46,91.26q38,37.47,91.26,37.46,53,0,90.76-37.46,38-38.21,38-91.26T930.15,293.61ZM896.46,441.43q-23.64,24.13-57.07,24.14-33.69,0-57.07-24.14Q758.19,418,758.19,384.36t24.13-57.06q23.38-23.64,57.07-23.64,33.43,0,57.07,23.64,23.37,23.37,23.38,57.06T896.46,441.43Z" transform="translate(-398.28 -255.65)"/>
      <path class="path" stroke="#4CADC1" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" fill="none" d="M424.68,255.65l-26.4,40.22q9,5.79,9.05,20.11v137q0,14.32-9.05,20.11l26.4,40.23q30.68-20.62,30.67-58.33V314Q455.35,276.26,424.68,255.65Z" transform="translate(-398.28 -255.65)"/></svg>
</div>
  </div>

  <script type="text/javascript" src="/js/home.js"></script>
</body>

<%- include('includes/footer') %>