.home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #af5239, #a3df81, #96daf3, #84e2cc);
}

.home-container a {
  text-decoration: none;
  color: #b9aaaa;
}

.home-container .nav-item a {
  color: #000000;
}

.home-container .nav-item a.disabled {
  color: #f0ede9;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #44443f;
  font-size: 40px;
  font-family: monospace;
}

.home-container.animation-frame {
  background-color: #413c3c;
}

.home-container .animation-frame .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-container .animation-frame .bg .path {
  animation: draw 3.5s infinite;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 1;
  }
}
